{# src/Zcomdezign/PlatformBundle/Resources/views/Default/index.html.twig #}

{% extends "ZcomdezignPlatformBundle::layout.html.twig" %}


{% block body %}
    <p>Hello My Charlie's World! :-*</p>
    <p>Hello hello piti didi :-D</p>
    <p>I love you</p>
{% endblock %}